@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  /* Set default background color for dark mode */
  body {
    background-color: #000000; /* Dark background color */
    color: white; /* Optional: Set text color to white for better contrast */
  }

  /* Ensure dark mode styles are applied */
  .dark {
    background-color: #000000; /* Dark background color */
    color: white; /* Text color for dark mode */
  }
}

@layer base {
  * {
    @apply !scroll-smooth;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}